# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual Studio junk
*.tlog
*.log
*.recipe
*.filters
*.user
*.lastbuildstate
*.ipch
*.suo
*.db
src/foo.bar
src/Communist1.bar
src/.vs/ga2022/FileContentIndex/04069cd6-4a12-4ee7-b7f3-d7eac4eb6558.vsidx
src/foo.bar
src/.vs/ga2022/FileContentIndex/99cf9b36-e517-4319-bf27-e8cdaf2145dd.vsidx
src/.vs/ga2022/FileContentIndex/8888b558-d1ac-4af5-8f42-1694fa2db8a1.vsidx
src/.vs/ga2022/FileContentIndex/22e851a7-5ef6-471c-9779-15a5cd32e7e6.vsidx
*.vsidx
*.bar
*.bar
src/foo.bar
